*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #45AFE6;
	height: 70px;
	color: #FFF;
	margin-bottom: 1em;
	text-align: center;
	padding: 20px;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	max-width: 940px;
	min-width: 300px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
}

.tabela{
	min-width: 280px;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.caixa-formulario{
	max-width: 940px;
	min-width: 300px;
	margin: auto;
	padding: 20px;
}


form > div{
	display: inline-block;
	padding: 10px 0 ;
}
input{
	padding: 7px;
	margin-bottom: 10px;
}

label{
	display: inline-block;
	margin-right: 20px;
}

.div-nome{
	width: 100%;
}

#nome{
	width: 85%;
}

#peso{
	margin-right: 10px;
}

#altura{
	margin-right: 10px;
}

.div-button{
	width: 100%;
}

.envia{
	background-color: #45AFE6;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 15px;
	font-size: 1.2em;
	color: white;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido{
	background-color: lightcoral;
}

.excluindo{
	background-color: rgba(231, 8, 53, 0.932);
	transition: 0.7s;
	opacity: 0;
}